<div class="about-container">
  <h2 i18n="@@about_me_title">About Me</h2>
  <div class="content card">
    <p i18n="@@about_me_intro">
      I’m a software specialist based in Copenhagen, currently
      working at the City of Copenhagen.
    </p>
    <p i18n="@@about_me_experience">
      I’ve spent the past 8 years building digital solutions across several
      areas. I started out as an RPA developer, where I received two awards for
      my work. From there, I helped establish the municipality’s voice and
      chatbot team, followed by a short period working with low-code initiatives
      as a Technical System Owner, responsible for the technical aspects.
    </p>
    <p i18n="@@about_me_current">
      Today, I’m part of a team developing our internal AI solution for the City
      of Copenhagen, based on OpenAI. I’m primarily responsible for the
      technical frontend, with a strong focus on creating intuitive and
      user-friendly experiences, mainly using Angular.
    </p>
    <p i18n="@@about_me_education">
      I hold a Professional Bachelor’s degree in Software Development from KEA
      (2017).
    </p>
    <p i18n="@@about_me_personal">
      Originally from Argir in the Faroe Islands, I grew up playing handball and
      football. I now live in Copenhagen, Denmark.
    </p>
  </div>
</div>
